@page
@model MikesRecipes.Web.Pages.Recipes.IndexModel
@{
	ViewData["Title"] = "Recipes";
}

<h2>Найдено рецептов: @Model.RecipesPage?.TotalCount</h2>
<ul>
	@if (Model.Recipes is not null)
	{
		@foreach (var item in Model.Recipes)
		{
			<li>
				<a target="_blank" href="@item.Url">@item.Title</a>
			</li>
		}
	}
</ul>

@{
	var prevDisabled = Model.RecipesPage is { HasPreviousPage: false } ? "disabled" : string.Empty;
	var nextDisabled = Model.RecipesPage is { HasNextPage: false } ? "disabled" : string.Empty;
	var previousPageIndex = Model.RecipesPage?.PageIndex - 1;
	var nextPageIndex = Model.RecipesPage?.PageIndex + 1;
}

@if (!string.IsNullOrWhiteSpace(Model.Input.ProductsIdsRow))
{
	<div class="d-flex">
		<form method="post" asp-page-handler="BySelectedProducts">
			<input type="hidden" value="@Model.Input.ProductsIdsRow" name="productsIdsRow" />
			<input type="hidden" value="@Model.Input.OtherProductsCount" name="otherProductsCount" />
			<input type="hidden" value="@previousPageIndex" name="pageIndex" />
			<button id="previous" type="submit" class="btn btn-primary @prevDisabled">Previous</button>
		</form>

		<form method="post" asp-page-handler="BySelectedProducts">
			<input type="hidden" value="@Model.Input.ProductsIdsRow" name="productsIdsRow" />
			<input type="hidden" value="@Model.Input.OtherProductsCount" name="otherProductsCount" />
			<input type="hidden" value="@nextPageIndex" name="pageIndex" />
			<button id="next" type="submit" class="btn btn-primary @nextDisabled">Next</button>
		</form>
	</div>
}
else
{
	<a asp-page="./Index"
	   asp-route-pageIndex="@previousPageIndex"
	   class="btn btn-primary @prevDisabled">
		Previous
	</a>

	<a asp-page="./Index"
	   asp-route-pageIndex="@nextPageIndex"
	   class="btn btn-primary @nextDisabled">
		Next
	</a>
}

<p>@Model.RecipesPage?.PageIndex of @Model.RecipesPage?.TotalPages</p>
